* {
    box-sizing: border-box;
}
html {
        scroll-behavior: smooth;
    }
body:has(.theme input:checked) {
        background-color: rgb(171, 200, 212);
        .blur1 {
            background: rgb(20, 16, 57);
        }
        .blur2 {
            background: rgb(68, 28, 78);
        }
        .navbar a {
            color: rgb(43, 88, 49);
        }
        a:hover {
            color: rgb(14, 34, 16);
        }
        .icon {
            color: rgb(33, 31, 73);
        }
        .icon span {
            color: aquamarine;
        }
        .login button {
            color: rgb(17, 42, 21);
            background: linear-gradient(135deg, rgb(20, 16, 57), rgb(0, 255, 255));
        }
        .theme {
            color: rgb(20, 16, 57);
        }
        .contact-info h2 {
            color: rgb(20, 16, 57);
        }
        .contact-info p {
            color: rgb(43, 88, 49);
            font-weight: bold;
        }
        .contact-form {
            border: 5px solid rgb(83, 36, 92);
            border-radius: 40px;
            background-color: rgb(171, 200, 212);
        }
        .contact-form h2 {
            color: rgb(20, 16, 57);
        }
        .contact-form label {
            color: rgb(43, 88, 49);
        }
        .contact-form input,
        .contact-form textarea {
            color: rgb(43, 88, 49);
            background-color: rgb(159, 185, 196);
        }
        .contact-form button {
            color: rgb(17, 42, 21);
            background: linear-gradient(135deg, rgb(20, 16, 57), rgb(177, 160, 194));
        }   
        .faq h2 {
            color: rgb(43, 28, 65);
        }
        .faq > p {
            font-weight: bold;
            color: rgb(63, 109, 129);
        }
        .accordion summary {
            border-bottom: 5px solid rgb(38, 15, 43);
            color: rgb(30, 65, 28);
            font-weight: bold;
        }
        .accordion-content p {
            color: rgb(52, 116, 60);
            font-weight: bold;
        }  
    } 
body {
    background-color: rgb(13, 13, 47);
    color: antiquewhite;
    min-height: 100vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    .blur1 {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.4;
        top: 0; 
        left: 0; 
        background: aqua;
        filter: blur(120px);
    } 
    .blur2 {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.4;
        top: 600px;
        right: 0;
        background: rgb(223, 186, 223);
        filter: blur(120px);
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 8%;
    }
    .icon {
        font-size: larger;
    }
    .span {
        color: aqua;
    }
    a {
        color: rgb(185, 178, 169);
        font-size: 25px;
        text-decoration: none;
    }
    a:hover {
        color: antiquewhite;
    }
    ul {
        font-size: larger;
        font-weight: bolder;
        list-style: none;
        display: flex;
        gap: 15px;
    }
    .login button {
        border: none;
        border-radius: 20px;
        width: 100px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(205, 190, 170);
        background: linear-gradient(135deg, rgb(42, 42, 83), aqua);
        background-clip: border-box;
        cursor: pointer;
    }
    .theme {
            color: rgb(191, 192, 159);
            font-size: 20px;
            font-weight: bold;
    }
    .contact-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex: 1;
    }
    .contact-info {
        margin: 30px auto;
        padding: 30px;
    }
    .contact-info h2 {
        text-align: center;
        font-size: 50px;
    }
    .contact-info p {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .contact-form {
        border: 1px solid snow;
        border-radius: 50px;
        margin: 30px auto;
        padding: 30px;
        width: 80%;
    }
    .contact-form h2 {
        text-align: center;
        font-size: 30px;
    }
    .contact-form label {
        font-size: 25px;
        font-weight: bold;
    }
    .contact-form input {
        background-color: rgb(13, 13, 32);
        border: none;
        border-radius: 20px;
        width: 90%;
        height: 40px;
        font-size: 18px;
        color: antiquewhite;
        padding: 20px;
    }
    .contact-form textarea {
        background-color: rgb(13, 13, 32);
        border: none;
        border-radius: 20px;
        width: 90%;
        height: 100px;
        font-size: 18px;
        color: antiquewhite;
        padding: 20px;
    }
    .contact-form button {
        background: linear-gradient(135deg, aqua, lavender);
        background-clip: border-box;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        margin: 20px auto;
        display: block;
        cursor: pointer;
    }
    .faq {
        grid-column: span 3;
    }
    .faq h2 {
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }
    .faq> p {
        text-align: center;
        font-size: 30px;
        margin: 20px;
        color: bisque;
    }
    .accordion {
        margin: 20px;
        padding: 20px;
    }
    .accordion summary {
        border-bottom: 1px solid wheat;
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
        font-size: 25px;
    }
    .accordion-content p {
        margin: 20px;
        padding: 10px;
        font-size: 25px;
        color: rgb(232, 239, 174);
    }
    html {
        scroll-behavior: smooth;
    }
    footer {
        margin-top: auto;
        min-height: 100px;
        width: 100%;
        background-color: black;
    }
    footer p {
        font-size: 20px;
        margin: 30px auto;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    body {
        .blur1 {
            width: 200px;
            height: 200px;
        } 
        .blur2 {
            width: 300px;
            height: 300px;
        }
        .navbar {
            display: flex;
            flex-direction: column;
        }
        .theme {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
@media screen and (max-width: 440px) {
    body {
        .navbar a {
            font-size: 20px;
        }
        .contact-grid {
            display: flex;
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 360px) {
    body {
        .contact-form input,
        .contact-form textarea {
            width: 80%;
        }
        .navbar a {
            font-size: 15px;
        }
    }
    
}