body {
    background-color: rgb(13, 13, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .blur1 {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.3;
        top: 100px; 
        left: 200px; 
        background: aqua;
        filter: blur(120px);
    } 
    .blur2 {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: -1;
        opacity: 0.3;
        top: 500px;
        right: 200px;
        background: rgb(223, 186, 223);
        filter: blur(120px);
    }
    .head h1 {
            color: snow;
            text-align: center;
            font-size: 60px;
            line-height: 0.5;
        }
    .head h2 {
            color: antiquewhite;
            text-align: center;
            font-size: 40px;
            padding: 10px;
        }
        span {
            color: aqua;
        }
    .form { 
        border: 20px rgb(205, 221, 205);
        border-radius: 30px;
        display: block;
        align-items: center;
        margin: 50px;
        padding: 50px;
        box-sizing: border-box;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
        justify-content: center;
        transform: translateY(-3px);
        background-color: rgba(29, 23, 54, 0.8);
        width: 600px;
        height: fit-content;
        form {
            label {
                color: rgb(198, 199, 174);
                font-size: 20px;
                font-weight: bolder;
            }
            input[type=text] {
                background-color: rgb(21, 19, 30);
                padding: 10px;
                border: none rgb(211, 207, 249);
                border-radius: 20px;
                box-sizing: border-box;
                margin-top: 5px;
                margin-right: 20px;
                width: 100%;
                font-size: large;
                font-weight: bold;
                color: aliceblue
            }
            input[type=password] {
                background-color: rgb(21, 19, 30);
                padding: 10px;
                padding-right: 60px;
                border: none rgb(211, 207, 249);
                border-radius: 20px;
                box-sizing: border-box;
                margin-top: 5px;
                margin-right: 20px;
                width: 100%;
                font-size: large;
                font-weight: bold;
                color: aliceblue
            }
            .eye {
                position: absolute;
                right: 25px;
                top: 23.5%;
                margin: 40px;
                cursor: pointer;
                border: none;
                background: transparent;
            }
            .btn {
                display: block;
                margin: 20px auto;
                padding: 10px;
                font-size: larger;
                font-weight: bolder;
                width: 60%;
                color: rgb(31, 13, 33);
                background-color: rgb(200, 196, 217);
                transition: height 0s;
                border-radius: 20px;
                border: none;
                cursor: pointer;
            }
            nav {
                align-items: center;
                justify-content: center;
                display: flex;
                gap: 15px;
                .icon img {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    transition: height 0s width 0s;
                }
                .icon {
                    position: relative;
                    display: inline-block;
                }
                .tooltip {
                    position: absolute;
                    display: inline-block;
                    background-color: rgb(37, 37, 77);
                    color: rgb(214, 202, 186);
                    top: 97%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                    margin: 0;
                    visibility: hidden;
                }
            }
            .icon:hover .tooltip {
                visibility: visible;
            }
            p {
                text-align: center;
                color: rgb(179, 208, 233);
            }
            }
        }
}